.task-bar {
  flex: 0 1 auto;
  display: flex;
  flex-flow: column nowrap;
  overflow-x: hidden;
  overflow-y: auto;
}

.task-bar__category {
  margin: 8px 0;
  padding: 2px 10px;
  font-size: 0.8rem;
  letter-spacing: .05rem;
  color: #a59eb3;
  border-bottom: 2px solid #4e4a55;
}

.task-bar__task {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  height: 35px;
  padding: 0 15px;
  background: transparent;
  color: #F6F2F0;
  border: none;
  cursor: pointer;
}

.task-bar__task span {
  width: 100%;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  opacity: 0.8;
}

.task-bar__task::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 5px;
  height: 100%;
  background-color: black;
}

.task-bar__task.pending::before {
  background-color: #97c1ff;
}

.task-bar__task.inprogress::before {
  background-color: #d7ec7f;
}

.task-bar__task.closed::before {
  background-color: #5b5a5f;
}

.task-bar__task:hover,
.task-bar__task:focus {
  background: #4a4655;
  opacity: 1.0;
  padding-left: 18px;
}

.task-bar__task.pending:hover,
.task-bar__task.pending:focus {
  background: #3e475c;
}

.task-bar__task.inprogress:hover,
.task-bar__task.inprogress:focus {
  background: #4b5044;
}

.task-bar__task.closed:hover,
.task-bar__task.closed:focus {
  background: #4a4655;
}

.task-bar__task:hover span,
.task-bar__task:focus span {
  opacity: 1.0;
}